<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="pauloderney" value="https://pkgs.dev.azure.com/pauloderney/_packaging/pauloderney/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <pauloderney>
      <add key="Username" value="paulo.e.derney@gmail.com" />
      <add key="ClearTextPassword" value="yvtgk5nymbu3g4573qcmeplpq5danmpsfbtaxbzfweb44u5k3m3a" />
    </pauloderney>
  </packageSourceCredentials>
</configuration>