<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="pauloderney" value="https://nuget.pkg.github.com/pauloderney/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <pauloderney>
	  <add key="Username" value="NUGET_PASSWORD" />
      <add key="ClearTextPassword" value="NUGET_USER_NAME" />
    </pauloderney>
  </packageSourceCredentials>
</configuration>